<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid" id="header">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <table>
            <tr>
              <td>
                <a href="/productos">Productos</a>
              </td>
              <td>
                <a href="/empleados">Empleados</a>
              </td>
            </tr>
          </table>
    </div>
    <div class="container-fluid">
      {{{body}}}
    </div>
    <footer style="height: 215px; overflow: hidden;">
      <svg viewBox="0 0 1440 320" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0,192L60,202.7C120,213,240,235,360,234.7C480,235,600,213,720,218.7C840,224,960,256,1080,261.3C1200,267
          ,1320,245,1380,234.7L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,
          480,320,360,320C240,320,120,320,60,320L0,320Z" style="stroke: none; fill:   rgb(204, 220, 233);"></path>
      </svg>
    </footer>
  </body>
</html>
